#app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  #content {
    padding-top: 59px;
  }
}

.list-group {
  li {
    list-style-type: none;
  }

  &.list-group-flush {
    &:last-child .list-group-item:last-child {
      margin-bottom: 0;
      border-bottom: 0;
    }

    .list-group-item {
      padding-left: 0;
      padding-right: 0;
      border-right: 0;
      border-left: 0;
      border-radius: 0;

      &:last-child {
        margin-bottom: -1px;
      }
    }
  }

  &.list-group-borderless {
    .list-group-item {
      border: none;
    }
  }

  .list-group-item {
    font-size: 0.875rem;
    position: relative;
    display: block;
    padding: 0.425rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #e7eaf3;

    &:first-child {
      border-top-left-radius: 0.3125rem;
      border-top-right-radius: 0.3125rem;
    }
    &.list-group-item-action {
      width: 100%;
      color: #77838f;
      text-align: inherit;
      &:hover, &:focus {
        z-index: 1;
        color: #377dff;
        text-decoration: none;
        background-color: transparent;
      }
    }
  }
}
