<div class="row">
  <div class="col">
    <h2 class="d-inline">{{ model.name }}</h2>
    <lib-switch
      class="d-block float-right"
      [(state)]="state"
      (stateChange)="onStateChanges($event)"
    ></lib-switch>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="text-center">
      <img
        class="w-25"
        src="{{ model.type | image | async }}"
        alt=""
      >
    </div>
  </div>
</div>

<lib-numeric-buttons
  [(value)]="model.temperature"
  minValue="16"
  maxValue="30"
></lib-numeric-buttons>

<div class="row">
  <div class="col-12 col-sm-4">
    <h2>
      {{ 'device.air_conditioner.mode' | i18n }}
    </h2>

    <lib-radio-group
      name="mode"
      [(value)]="model.mode"
      [radios]="[
        {
          value: 'cool',
          label: 'device.air_conditioner.cool' | i18n
        },
        {
          value: 'heat',
          label: 'device.air_conditioner.heat' | i18n
        },
        {
          value: 'dry',
          label: 'device.air_conditioner.dry' | i18n
        },
        {
          value: 'auto',
          label: 'device.air_conditioner.auto' | i18n
        }
      ]"
    ></lib-radio-group>
  </div>

  <div class="col-12 col-sm-4">
    <h2>
      {{ 'device.air_conditioner.fan_speed' | i18n }}
    </h2>

    <lib-radio-group
      name="fanSpeed"
      [(value)]="model.fanSpeed"
      [radios]="[
        {
          value: 'lowest',
          label: 'device.air_conditioner.lowest' | i18n
        },
        {
          value: 'low',
          label: 'device.air_conditioner.low' | i18n
        },
        {
          value: 'medium',
          label: 'device.air_conditioner.medium' | i18n
        },
        {
          value: 'high',
          label: 'device.air_conditioner.high' | i18n
        },
        {
          value: 'highest',
          label: 'device.air_conditioner.highest' | i18n
        },
        {
          value: 'auto',
          label: 'device.air_conditioner.auto' | i18n
        }
      ]"
    ></lib-radio-group>
  </div>

  <div class="col-12 col-sm-4">
    <h2>
      {{ 'device.air_conditioner.swing' | i18n }}
    </h2>

    <lib-radio-group
      name="swing"
      [(value)]="model.swing"
      [radios]="[
        {
          value: 'lowest',
          label: 'device.air_conditioner.lowest' | i18n
        },
        {
          value: 'low',
          label: 'device.air_conditioner.low' | i18n
        },
        {
          value: 'medium',
          label: 'device.air_conditioner.medium' | i18n
        },
        {
          value: 'high',
          label: 'device.air_conditioner.high' | i18n
        },
        {
          value: 'highest',
          label: 'device.air_conditioner.highest' | i18n
        },
        {
          value: 'auto',
          label: 'device.air_conditioner.auto' | i18n
        }
      ]"
    ></lib-radio-group>
  </div>
</div>
